@import "styles/stylesheet";

.menuDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuChild {
  color: $greyDark;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menuChildCurrent {
  color: $black;
  pointer-events: none;
}

.menuChildCurrent::after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 50%;
  transform: translateX(-50%);
  width: getSpacing(7);
  height: getSpacing(0.8);
  background-color: $goldenDarker;
}
